<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ggboy.item_bank.dao.SpecialtyDao">
    <select id="selectSpecialtyIdBySpecialtyName" parameterType="String" resultType="String">
        select Specialty_id from specialtyinfo where Specialty_name = #{Specialty_name}
    </select>
    <select id="selectSpNameById" parameterType="String" resultType="String">
        select Specialty_name from specialtyinfo where Specialty_id = #{Specialty_id}
    </select>
    <select id="selectSpNameById1" parameterType="Integer" resultType="String">
        select Specialty_name from specialtyinfo where Specialty_id = #{Specialty_id}
    </select>
</mapper>